This code is used for generating documents containing - Sensitive data (PII Personally Identifiable Information)

In [3]:
class NotSoRandom(object):
    def seed(self, a=3):
        """Seed the world's most mysterious random number generator."""
        self.seedval = a
    def random(self):
        """Look, random numbers!"""
        self.seedval = (self.seedval * 3) % 19
        return self.seedval
_inst = NotSoRandom()
seed = _inst.seed
random = _inst.random
seed(1234)
[random() for _ in range(10)]

[16, 10, 11, 14, 4, 12, 17, 13, 1, 3]

In [4]:
#Generate Random phone no's
import random
random.randint(7000000000,9999999999)

9228289240

In [8]:
#Install Names library to generate random Names
pip install names

Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
Building wheels for collected packages: names
  Building wheel for names (setup.py): started
  Building wheel for names (setup.py): finished with status 'done'
  Created wheel for names: filename=names-0.3.0-py3-none-any.whl size=803695 sha256=d6d0856bc3b8c4d78d30a4268f1d1c13f099aef946ccf99d0f2781adb7e04154
  Stored in directory: c:\users\pondh\appdata\local\pip\cache\wheels\05\ea\68\92f6b0669e478af9b7c3c524520d03050089e034edcc775c2b
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.1.1; however, version 21.2.1 is available.
You should consider upgrading via the 'C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [5]:
#Generate randon names
import names
names.get_full_name()

'Scott Spangler'

In [11]:
names.get_full_name(gender='female')

'Lisa Thomas'

In [14]:
names.get_full_name(gender='male')

'Robert Hernandez'

First Document - Employee Information

In [23]:
#Create a dataframe with Name, DOB, email and Mobile Number
import pandas as pd
dict = {'Name':[],
       'DOB':[],
       'email':[],
       'Mobile Number':[]}
df = pd.DataFrame(dict)
print(df)

Empty DataFrame
Columns: [Name, DOB, email, Mobile Number]
Index: []

In [53]:
Names_list = []
i=0
while i <= 100:
    Names_list.append(names.get_full_name())
    i += 1

In [81]:
#Generate DOB
import numpy as np
monthly_days = np.arange(0, 30)
base_date = np.datetime64('1982-12-01')
i=0
while i <= 10:
    #random_date = base_date + np.random.choice(monthly_days)
    DOB_list.append(base_date + np.random.choice(monthly_days))
    i += 1

In [98]:
#Generate Phone Numbers
import random
Number_list = []
i=0
while i <= 100:
    Number_list.append(str(random.randint(7000000000,9999999999)))
    i += 1

In [133]:
Number_list1 = Number_list[0:25]
Number_list2 = Number_list[25:50]
Number_list3 = Number_list[50:75]
Number_list4 = Number_list[75:101]

In [117]:
len(Number_list4)

26

In [134]:
#Prefix the Phone Numbers with country code
append_str = '91'
Number_list1 = [append_str + sub for sub in Number_list1]
append_str = '1'
Number_list2 = [append_str + sub for sub in Number_list2]
append_str = '44'
Number_list3 = [append_str + sub for sub in Number_list3]
append_str = '61'
Number_list4 = [append_str + sub for sub in Number_list4]

In [80]:
len(Names_list)

101

In [82]:
DOB_list = DOB_list[0:101]
len(DOB_list)

101

In [139]:
len(final_Number_list)

101

In [149]:
#Generate email address using the names_list
email = ".".join( Names_list[0].split())+"@gmail.com"
email

'Gregory.Mccullough@gmail.com'

In [161]:
#email list
email_list = []
i=0
while i <= 100:
    email_list.append(".".join( Names_list[i].split())+"@gmail.com")
    i += 1

In [162]:
len(email_list)

101

In [55]:
df['Name'] = Names_list

In [83]:
df['DOB'] = DOB_list

In [140]:
df['Mobile Number'] = final_Number_list

In [164]:
df['email'] = email_list

In [165]:
#Dataframe with all the columns
df.head(3)

                 Name        DOB                         email Mobile Number
0  Gregory Mccullough 1978-06-29  Gregory.Mccullough@gmail.com  917996523744
1   Sophia Villarreal 1978-06-25   Sophia.Villarreal@gmail.com  918244087321
2     Brian Gallipeau 1978-06-25     Brian.Gallipeau@gmail.com  918854475702

In [166]:
df.tail(3)

              Name        DOB                    email Mobile Number
98    Billy Tirado 1991-05-14   Billy.Tirado@gmail.com  617303723467
99   Jeffrey Mckee 1982-12-17  Jeffrey.Mckee@gmail.com  617867981767
100   Eugene Ortiz 1982-12-03   Eugene.Ortiz@gmail.com  618047979528

In [167]:
!pip install python-docx

Collecting python-docx
  Downloading python-docx-0.8.11.tar.gz (5.6 MB)
Requirement already satisfied: lxml>=2.3.2 in c:\programdata\anaconda3\lib\site-packages (from python-docx) (4.4.1)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py): started
  Building wheel for python-docx (setup.py): finished with status 'done'
  Created wheel for python-docx: filename=python_docx-0.8.11-py3-none-any.whl size=184606 sha256=4808e0b9d15f74bd327f8548bac29c39b9aad570e301d918e3536cf2d386ea9d
  Stored in directory: c:\users\pondh\appdata\local\pip\cache\wheels\f6\6f\b9\d798122a8b55b74ad30b5f52b01482169b445fbb84a11797a6
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.11

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: You are using pip version 20.1.1; however, version 21.2.1 is available.
You should consider upgrading via the 'C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [172]:
#Save the dataframe as a document
import docx
import pandas as pd

# open an existing document
doc = docx.Document('./EmployeeInformation.docx')

# add a table to the end and create a reference variable
# extra row is so we can add the header row
t = doc.add_table(df.shape[0]+1, df.shape[1])

# add the header rows.
for j in range(df.shape[-1]):
    t.cell(0,j).text = df.columns[j]

# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        t.cell(i+1,j).text = str(df.values[i,j])

# save the doc
doc.save('./EmployeeInformation.docx')

In [170]:
import os
cwd = os.getcwd()

In [171]:
cwd

'C:\\Users\\pondh'

In [175]:
#Generate DOB
monthly_days = np.arange(0, 30)
base_date = np.datetime64('1982-12-01')
base_date + np.random.choice(monthly_days)

numpy.datetime64('1982-12-09')

Second Document

In [27]:
import names
Names_list = []
i=0
while i <= 6:
    Names_list.append(names.get_full_name())
    i += 1

In [28]:
#Generate Phone Numbers
import random
Number_list = []
i=0
while i <= 6:
    Number_list.append(str(random.randint(7000000000,9999999999)))
    i += 1

In [29]:
append_str = '1'
Number_list2 = [append_str + sub for sub in Number_list]

In [36]:
#Create a dataframe with all the columns
import pandas as pd
dict = {'Company': [],
        'Contact Person':[],
        'Number':[]}
df = pd.DataFrame(dict)
print(df)

Empty DataFrame
Columns: [Company, Contact Person, Number]
Index: []

In [37]:
Company_list = ['Google', 'FedEx', 'Amazon', 'XYZ Corporation', 'Vmware', 'Microsoft', 'ABC Inc']

In [38]:
df['Company'] = Company_list

In [39]:
df['Contact Person'] = Names_list

In [40]:
df['Number'] = Number_list2

In [41]:
df.head(2)

  Company   Contact Person       Number
0  Google  Francis Cordero  18947849305
1   FedEx    Jimmie Brooks  17796313249

In [42]:
#Save the document
import docx
# open an existing document
doc = docx.Document('./VendorInfo.docx')

# add a table to the end and create a reference variable
# extra row is so we can add the header row
t = doc.add_table(df.shape[0]+1, df.shape[1])

# add the header rows.
for j in range(df.shape[-1]):
    t.cell(0,j).text = df.columns[j]

# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        t.cell(i+1,j).text = str(df.values[i,j])

# save the doc
doc.save('./VendorInfo.docx')

In [35]:
#Generate randon names
import names
names.get_full_name()

'Betty Mitchell'

In [30]:
import names
names.get_full_name(gender='male')

'Leslie Button'

In [40]:
#Generate Random phone no's
import random
random.randint(100000000,999999999)

617639714

In [27]:
#Generate Random numbers
import random
random.randint(1000,9999)

8872

Third Document - Employee Payroll

In [41]:
import names
Names_list = []
i=0
while i <= 9:
    Names_list.append(names.get_full_name())
    i += 1

In [42]:
#Generate Employee IDs
import random
Emp_ids = []
i=0
while i <= 9:
    Emp_ids.append(str(random.randint(50000,99999)))
    i += 1

In [43]:
import pandas as pd
dict = {'Employee Name': [],
        'Employee ID':[]}
df = pd.DataFrame(dict)
print(df)

Empty DataFrame
Columns: [Employee Name, Employee ID]
Index: []

In [44]:
df['Employee Name'] = Names_list

In [45]:
df['Employee ID'] = Emp_ids

In [46]:
import docx
# open an existing document
doc = docx.Document('./VendorInfo.docx')

# add a table to the end and create a reference variable
# extra row is so we can add the header row
t = doc.add_table(df.shape[0]+1, df.shape[1])

# add the header rows.
for j in range(df.shape[-1]):
    t.cell(0,j).text = df.columns[j]

# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        t.cell(i+1,j).text = str(df.values[i,j])

# save the doc
doc.save('./HR-Peoplesoft2.docx')

Fourth Document - Employee Expense Report

In [53]:
import names
Names_list = []
i=0
while i <= 15:
    Names_list.append(names.get_full_name())
    i += 1

In [54]:
#Generate Employee IDs
import random
Emp_ids = []
i=0
while i <= 15:
    Emp_ids.append(str(random.randint(50000,99999)))
    i += 1

In [55]:
import pandas as pd
dict = {'Employee Name': [],
        'Employee ID':[]}
df = pd.DataFrame(dict)
print(df)

Empty DataFrame
Columns: [Employee Name, Employee ID]
Index: []

In [56]:
df['Employee Name'] = Names_list

In [57]:
df['Employee ID'] = Emp_ids

In [59]:
import docx
# open an existing document
doc = docx.Document('./Expense Report for Jan 2021.docx')

# add a table to the end and create a reference variable
# extra row is so we can add the header row
t = doc.add_table(df.shape[0]+1, df.shape[1])

# add the header rows.
for j in range(df.shape[-1]):
    t.cell(0,j).text = df.columns[j]

# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        t.cell(i+1,j).text = str(df.values[i,j])

# save the doc
doc.save('./Expense Report for Jan 2021.docx')

Fifth Document - Supplier Contact Information

In [145]:
import names
Names_list = []
i=0
while i <= 10:
    Names_list.append(names.get_full_name())
    i += 1

In [146]:
#Generate Phone Numbers
import random
Number_list = []
i=0
while i <= 10:
    Number_list.append(str(random.randint(7000000000,9999999999)))
    i += 1

In [147]:
append_str = '+1'
Number_list2 = [append_str + sub for sub in Number_list]

In [148]:
Company_list = ['Snowflake', 'Cloudera', 'Google', 'American Airlines', 'Walmart', 'Microsoft', 'Oracle', 'Microstrategy', 'Apple', 'HomeDepot', 'Grainger']

In [149]:
import pandas as pd
dict = {'Supplier Name':[], 'Contact Person': [], 'Mobile Number':[]}
df = pd.DataFrame(dict)
print(df)

Empty DataFrame
Columns: [Supplier Name, Contact Person, Mobile Number]
Index: []

In [150]:
df['Supplier Name'] = Company_list
df['Contact Person'] = Names_list
df['Mobile Number'] = Number_list2

In [151]:
import docx
# open an existing document
doc = docx.Document('./SupplierInformationDec2021.docx')

# add a table to the end and create a reference variable
# extra row is so we can add the header row
t = doc.add_table(df.shape[0]+1, df.shape[1])

# add the header rows.
for j in range(df.shape[-1]):
    t.cell(0,j).text = df.columns[j]

# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        t.cell(i+1,j).text = str(df.values[i,j])

# save the doc
doc.save('./SupplierInformationDec2021.docx')

In [ ]:
#Restricted Document Generation

In [121]:
import names
Names_list = []
i=0
while i <= 15:
    Names_list.append(names.get_full_name())
    i += 1

In [122]:
#Generate SSN
import random
Number1_list = []
Number2_list = []
i=0
while i <= 15:
    Number1_list.append(str(random.randint(10,99)))
    Number2_list.append(str(random.randint(1000,9999)))
    i += 1

In [123]:
Number3_list = ['-'.join(x) for x in zip(Number1_list, Number2_list)]

In [124]:
append_str = '040-'
ssn = [append_str + sub for sub in Number3_list]

In [125]:
Refund = []
i=0
while i <= 15:
    Refund.append(str(random.randint(1000,99999)))
    i += 1

In [126]:
Account = []
i=0
while i <= 15:
    Account.append(str(random.randint(100000000000000,9999999999999999)))
    i += 1

In [127]:
import pandas as pd
dict = {'Customer Full Name':[], 'SSN #': [],'Bank Account Number': [], 'Refund':[]}
df = pd.DataFrame(dict)
print(df)

Empty DataFrame
Columns: [Customer Full Name, SSN #, Bank Account Number, Refund]
Index: []

In [128]:
df['Customer Full Name'] = Names_list
df['SSN #'] = ssn
df['Bank Account Number'] = Account
df['Refund'] = Refund

In [129]:
df.head(3)

   Customer Full Name        SSN # Bank Account Number Refund
0  Lawrence Pelletier  040-91-3655    9603895004446405  91635
1       Bernard Marek  040-58-7158    8826083498228555  27774
2      Allison Franco  040-88-5315    5662260348677032  15513

In [130]:
import docx
# open an existing document
doc = docx.Document('./CustomerRefundListSep2020.docx')

# add a table to the end and create a reference variable
# extra row is so we can add the header row
t = doc.add_table(df.shape[0]+1, df.shape[1])

# add the header rows.
for j in range(df.shape[-1]):
    t.cell(0,j).text = df.columns[j]

# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        t.cell(i+1,j).text = str(df.values[i,j])

# save the doc
doc.save('./CustomerRefundListSep2020.docx')

In [188]:
#Name
names.get_full_name(gender='male')

'Clinton Jones'

In [192]:
#Account Number
random.randint(100000000000000,9999999999999999)

2306376573244870

In [ ]:
#Contact Information Document

In [219]:
#Name
import names
Names_list = []
i=0
while i <= 9:
    Names_list.append(names.get_full_name())
    i += 1

In [220]:
#Generate Phone Numbers
import random
Number_list = []
i=0
while i <= 9:
    Number_list.append(str(random.randint(7000000000,9999999999)))
    i += 1

In [221]:
append_str = '+91'
Number_list2 = [append_str + sub for sub in Number_list]

In [222]:
#email-address
email_list = []
i=0
while i <= 9:
    email_list.append(".".join( Names_list[i].split())+"@yahoo.co.in")
    i += 1

In [223]:
import pandas as pd
dict = {'Vendor Name':[], 'Phone Number': [],'email address': []}
df = pd.DataFrame(dict)
print(df)

Empty DataFrame
Columns: [Vendor Name, Phone Number, email address]
Index: []

In [224]:
df['Vendor Name'] = Names_list
df['Phone Number'] = Number_list2
df['email address'] = email_list

In [225]:
df.head(3)

      Vendor Name   Phone Number               email address
0    William Arce  +918178085352    William.Arce@yahoo.co.in
1  James Espinoza  +917367194746  James.Espinoza@yahoo.co.in
2   Leeann Lively  +917497924908   Leeann.Lively@yahoo.co.in

In [226]:
import docx
# open an existing document
doc = docx.Document('./VendorInfo5.docx')

# add a table to the end and create a reference variable
# extra row is so we can add the header row
t = doc.add_table(df.shape[0]+1, df.shape[1])

# add the header rows.
for j in range(df.shape[-1]):
    t.cell(0,j).text = df.columns[j]

# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        t.cell(i+1,j).text = str(df.values[i,j])

# save the doc
doc.save('./VendorInfo5.docx')